script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
script(src="/semantic.min.js")
script(src="/javascripts/bathbuilt.min.js")
