extends about-layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .ui.masthead.segment.about.musk(data-style=("background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),  url('https://images.ctfassets.net/3qgfejllni6q/3DomuE9516AiWUwYSQyYUK/924eeed832b20c73ac19db784bef453c/kc_couples_ms-5.jpg');"))
      .ui.stackable.three.column.centered.grid.container
        .column
          .featured-details.rooms
            img.musk-header(data-src="/images/logo/bathbuilt128.png" style="width:256px;" alt="About Us Page Banner")

    .the-team
      .ui.container
        h1.ui.header.title
          |Bath Built Solid Wood Furniture – About Us
        h2.centered-text.ui.header Meet Our Woodworking Team
        .ui.four.stackable.cards
          .card
            .image.team(data-style=("background-image: url('https://images.ctfassets.net/3qgfejllni6q/6kf0yMd1n2CWqQ8qmkoeCi/ff97f9e5f2a1cb175bec309c306ce654/chris.jpg');"))
            .content
              .header Chris Bath
              .meta
                span.date Owner, Operations Manager
              .description
                |The reason our business name may be confusing about what it is we actually do! Chris Bath started in carpentry and soon began building furniture as a hobby. <a href="/">Bath Built</a> was born organically when people began to line up to buy one of his many handmade, solid wood furniture creations.
          .card
            .image.team(data-style=("background-image: url('https://images.ctfassets.net/3qgfejllni6q/FVjupaX48mUMwA2qku22e/95e7f254fcfd962b86323262c1fc2931/20180512_122150.jpg');"))
            .content
              .header Keara Mager
              .meta
                span.date Owner, Assembly & Finishing
              .description
                | Initially contributing to Bath Built by running our social media and website, Keara soon found herself on the back end of a palm sander. She now takes care of many roles at the woodworking shop including furniture assembly, and she is our finishing expert.
          .card
            .image.team(data-style=("background-image: url('https://images.ctfassets.net/3qgfejllni6q/6JJsJMZrs4yiiC6ogiqWKg/8de969327004c57d82e15e1e4026b091/rick.jpg');"))
            .content
              .header Rick Speke
              .meta
                span.date Shop Supervisor
              .description
                | Since the 1990’s Rick has been bringing quality hand built furniture to the homes and businesses throughout the Greater Vancouver area. Rick has worked supervisory roles with both small, and very large furniture manufacturers throughout his woodworking career. He has now joined Bath Built in our vision to bring the highest quality, handmade, solid wood furniture to your home.
          .card
            .image.team(data-style=("background-image: url('https://images.ctfassets.net/3qgfejllni6q/4VT50XQZ4ks8AiwOk20qig/3d83a938a67891c6930abf9f7eeac23f/20180906_122241.jpg');"))
            .content
              .header Mitch Kroeker
              .meta
                span.date Shop Hand, Lead Delivery Driver
              .description
                | Mitch is the latest addition to the Bath Built team. Mitch takes on the daunting task of making sure all of our custom solid wood furniture makes it safely to its new home.

    article
      h2.centered-text.ui.header Our Woodworking Process
      p
        |All of our solid wood furniture products are handcrafted using the best materials and woodworking techniques. This includes the use of multiple high-precision planing, jointing, and wood cutting tools to ensure perfectly square and flat stock to work with. Doing this, accompanied with proper wood joinery and design methods, allows our custom wood furniture to be very stable, with low chance of adverse changes over time.
      figure.med-width
        img(data-src="https://images.ctfassets.net/3qgfejllni6q/5zb6kQdPTqoE80kUQmoIk8/f833074118aafb839b2071a105302b66/20180323_142129-2.jpg" alt="Bath Built Workshop")
      p
        |We sand, stain, and seal each solid wood furniture piece to have a smooth finish and ensure our table tops are free of nooks and crannies that can trap food and other debris. We can however, offer a more rustic wood finish upon request! Each piece of handmade wood furniture is finished with a food safe finish that is impact and scratch resistant, and will hold up to heat and liquid spills.
      p
        |Bath Built offers a variety of custom furniture sizes and stain options, however feel free to <a href="mailto:bathbuiltcustom@gmail.com?subject=Custom Solid Wood Furniture">email</a> us and we can quote you for a custom order to build something more customized to your needs! We can also be reached through our online <a href="/contact">contact form</a>.
      p
        |We look forward to hearing from you!

      h2.centered-text.ui.header Payment
      //-p
        |A non-refundable 50% deposit is required on all custom solid wood furniture pieces upon ordering. In some cases, a refund may be possible, however it is at our discretion. We will send you an invoice to re-cap your order and it will have an easy “pay now” option for the deposit, however we also accept other forms of payment.
      p
        |We will send you an invoice to re-cap your order and it will have an easy “pay now” option, however we also accept other forms of payment.
      p
        |<a href="/contact">Contact</a> us for current wait time (usually between 4-7 weeks).
      p
        |Extra costs apply for delivery within the Vancouver Lower Mainland.
      p
        |Prices are subject to change at any time.

      h2.centered-text.ui.header Disclaimer
      p
        |All of our custom furniture products are handmade from solid wood. We recommend our customers have a good understanding of what to expect from solid wood furniture before purchasing. Bath Built is committed to keeping each and every customer beyond happy with their custom built furniture. We use sophisticated wood working techniques plus high-grade materials and wood stains to ensure a high quality solid wood furniture product. Upon pick up/delivery and transfer of the outstanding balance, the sale will be considered final for the product “as is.”
      p
        |On behalf of the woodworking team here at Bath Built Furniture, we thank you and look forward to serving you! To learn more about our solid wood furniture products, please <a href="mailto:bathbuiltcustom@gmail.com?subject=Custom Solid Wood Furniture">email</a> us.

    include footer.jade
block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
