extends layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .ui.masthead.segment.error.musk(style=("background-image:none; background:none;"))
      .ui.stackable.three.column.centered.grid.container
        .column
          .featured-details.rooms
            h1.musk-header Oops! Looks like the page you are looking for does not exist!

    include footer.jade
block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
