div(class="ui vertical subfol segment")
  div(class="ui container")
    .ui.three.column.stackable.grid
      .column
        .ui.two.column.grid
          .column
            h4.ui.inverted.header
              |Products
            .ui.inverted.link.list
              a.item
                |Dining Room
              a.item
                |Living Room
              a.item
                |Bedroom
              a.item
                |Stains
          .column
            h4.ui.inverted.header
              |General
            .ui.inverted.link.list
              a.item
                |About Us
              a.item
                |Inquiries
              a.item
                |Testimonials
      .column
        //.ui.tiny.red.inverted.statistic
          .value
            |25,067
          .label
            |Subscribers
      .column
        .ui.one.column.stackable.grid
          .column
            h2.ui.inverted.header
              |Stay up to date
            h3.ui.inverted.header
              |Have all new items delivered straight to your inbox
          .column
            form.ui.tiny.form
              .field
                .ui.input
                  input(type="text", name="email", placeholder="email address")
                  .ui.tiny.inverted.blue.subscribe.button
                    |Subscribe
