div(class="ui vertical subfol segment")
  div(class="ui container")
    .ui.two.column.grid
      .ui.three.column.stackable.grid
        .column
          h4.ui.inverted.header
            |Products
          .ui.inverted.link.list
            each room in rooms
              a.item(href='/rooms/#{room.cid}')
                |#{room.entry.fields.name["en-US"]}
        .column
          h4.ui.inverted.header
            |General
          .ui.inverted.link.list
            a.item(href="/about")
              |About Us
            //-a.item
              |Inquiries
            a.item(href="/testimonials")
              |Testimonials
        .column
          h4.ui.inverted.header
            |Social
          .ui.inverted.link.list
            a.item.social(href="https://www.facebook.com/bathbuilt/")
              i.fab.fa-facebook-square
              span.text
                |Facebook
            a.item.social(href="https://www.instagram.com/bathbuilt/")
              i.fab.fa-instagram
              span.text
                |Instagram
