extends layout

block content
  include sidebar.jade
  div(class="pusher")
    include menu-home.jade

    div(id="carousel")
      div(class="ui vertical masthead segment home")
        div(class="ui container" id="cover-text")
          .ui.two.column.grid
            //-.column(id="masthead-text")
              a(href="/products/#{feature.slug}")
                .featured-details
                  h1(class="ui inverted header title")
                    |#{feature.entry.fields.name["en-US"]}

    div(class="ui vertical showcase segment")
      div(class="ui text container")
        .philosophy
          h1.ui.header.title
            |Welcome to Bath Built
          h2.ui.header
            |Custom Furniture Made Locally in Abbotsford, BC

    div(class="ui vertical showcase segment")
      div(class="ui stackable three column centered grid container")
        each room in rooms
          .column.screv
            a(href='/rooms/#{room.cid}')
              .musk.ui.showcase-item.segment(style=("background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),  url('" + room.entry.fields.banner["en-US"].fields.file["en-US"].url + "');"))
                h3.ui.header.musk-header
                  |#{room.entry.fields.name["en-US"]}

    include footer.jade

block scripts
  script(src="/javascripts/bathbuilt.js")
