extends layout

block content
  include sidebar.jade
  div(class="pusher")
    include menu-home.jade

    div(class="ui vertical masthead segment home")
      div(class="ui container" id="cover-text")
        .ui.two.column.grid
          //-.column(id="masthead-text")
            a(href="/products/#{feature.slug}")
              .featured-details
                h1(class="ui inverted header title")
                  |#{feature.entry.fields.name["en-US"]}

    div(class="ui vertical showcase segment")
      div(class="ui text container")
        .philosophy
          h1.ui.header.title
            |Bath Built Handmade Solid Wood Furniture
          h3.ui.header
            |Welcome to Bath Built
          p.ui.header
            |We specialize in making custom handmade furniture; solid wood furniture made locally in Abbotsford just outside of Vancouver, British Columbia.
          h3
            a(href='https://www.facebook.com/bathbuilt/').social
              i.fab.fa-facebook-square
              span.text
                |Facebook
            a(href='https://www.instagram.com/bathbuilt/').social
              i.fab.fa-instagram
              span.text
                |Instagram
    div(class="ui vertical showcase segment")
      div(class="ui stackable three column centered grid container")
        each room in rooms
          .column.screv
            a(href='/rooms/#{room.slug}')
              .musk.ui.showcase-item.segment(style=("background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),  url('" + room.entry.fields.banner["en-US"].fields.file["en-US"].url + "');"))
                h3.ui.header.musk-header
                  |#{room.entry.fields.name["en-US"]}

    .intro
      article
        h2.falseone.centered-text
          |Who We Are
        p
          |What began as a hobby for owner Chris Bath quickly grew into a thriving woodworking business. Bath Built Custom Furniture now offers a full line of handcrafted solid wood furniture products. We only work with the very best wood materials including Black Walnut, White Oak, Cherry, Maple, Superior Alder, and Eastern White Pine. We also offer our clients a wide range of beautiful wood stains including Ebony, Kona, Dark Walnut, Classic Grey, and Special Walnut, to name a few. Please contact us by <a href="mailto:bathbuiltcustom@gmail.com?subject=Custom Solid Wood Furniture">email</a> and ask us about making a handmade solid wood furniture design customized specifically for your needs.

        h2.centered-text
          |<a href='/rooms/living-room'>Wood Living Room Furniture</a>
        p
          |Bath Built can custom design and make any piece of solid wood living room furniture in any size to fit your vision. Whether you want a handmade end table, coffee table, bookshelf, sideboard, or an entertainment unit, let us custom make it for you!

        h2.centered-text
          |<a href='/rooms/storage-and-desks'>Wood Storage and Desks</a>
        p
          |Bath Built offers a unique line of handcrafted storage units and solid wood desks. Inquire about a handmade office desk, corner desk, or wall desk. If you are looking for custom solid wood storage furniture check out our wardrobe/TV unit, bookshelves, kitchen islands, sideboards, and buffet tables.

        h2.centered-text
          |<a href='/rooms/dining-room'>Wood Dining Room Furniture</a>
        p
          |Bath Built’s line of custom solid wood dining room furniture includes dining room tables, bar tables, buffet tables, extendable tables, dining chairs and benches, and sideboards. We now offer nearly four-dozen unique dining room furniture designs, or we can custom design a solid wood piece just for you!

        h2.centered-text
          |<a href='/rooms/bedroom'>Wood Bedroom Furniture</a>
        p
          |You’ll love our custom, solid wood Bath Built bed frame designs including storage bed frames and a selection of platform bed frames. We also make solid wood bedroom dressers, end tables, and night stands (with or without drawers).

        h2.falseone.centered-text
          |Contact Us
        p
          |For more information about Bath Built Custom Furniture or to inquire about any of our unique handmade solid wood furniture items, please <a href="/contact">contact us</a> online or send us an <a href="mailto:bathbuiltcustom@gmail.com?subject=Handmade Solid Wood Furniture">email</a>.

    include footer.jade

block scripts
  include ./includes/scripts.jade
  //-script(src="/javascripts/bathbuilt.js")
