extends materials-layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .ui.masthead.segment.rooms.musk(data-style=("background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),  url('" + result.entry.fields.picture["en-US"].fields.file["en-US"].url + "?q=20');"))
      .ui.stackable.three.column.centered.grid.container
        .column
          .featured-details.rooms
            h1(class="ui inverted header title").musk-header
              |#{result.entry.fields.name["en-US"]}

    .ui.vertical.showcase.segment.rooms
      .ui.container
        .ui.four.doubling.cards
          each product in products
            a.card.screv(href="/products/#{product.slug}")
              .image.product(data-style=("background-image: url('" + product.entry.fields.pictures["en-US"][0].fields.file["en-US"].url + "?q=20');"))
              .content
                .better.header.centered-text
                  |#{product.entry.fields.name["en-US"]}

    if result.entry.fields.description
      article
        |!{result.entry.fields.description["en-US"]}

    include footer.jade
block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
