div(class="ui inverted fixed text menu not-home mobile chameleon" id="cover-menu-mobile")
  div(class="ui container")
    a(class="inverted header item" href='/')
      img(src="/images/logo/BathBuiltBlack.png" alt="Bath Built Logo" style="width:128px;")
    div(class="right menu")
      a(class="item" href='#' id='toggle-sidebar')
        |<i class="fas fa-bars"></i>
div(class="ui inverted fixed text menu not-home desktop chameleon" id="cover-menu")
  div(class="ui container")
    a(class="inverted header item" id="universal" href='/')
      img(src="/images/logo/BathBuiltBlack.png" alt="Bath Built Logo" style="width:128px;")
    div(class="right menu")
      a(class="ui pointing dropdown link item")
        |Products
        i(class="dropdown icon")
        div(class="menu")
          each room in rooms
            div.item(onclick='location.href="/rooms/#{room.slug}"')
              //-img.ui.mini.avatar.image.menu(src='#{room.entry.fields.banner["en-US"].fields.file["en-US"].url}')
              span.line-text
                |#{room.entry.fields.name["en-US"]}
      //-a(class="browse item product")
        |Products
      a(class="item" href="/stains")
        |Stains
      a(class="item" href="/about")
        |About Us
      a(class="browse item" href="/testimonials")
        |Testimonials
      a(class="item" href="/contact")
        |Inquiries

    include popup-menu
