extends privacy-policy-layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .privacy-policy-content
      article
        h1.centered-text
          |Bath Built Custom Furniture – Privacy Policy

        p
          |<a href="https://bathbuiltfurniture.com/about">Bath Built Custom Furniture</a>, located near Vancouver, British Columbia, specializes in making handmade solid wood furniture for the dining room, bedroom, and living room.

        p
          |<strong>Your Privacy</strong> - As a custom, solid wood furniture maker, Bath Built Custom Furniture is committed to protecting your privacy whenever we collect, store, utilize or disclose any personal (and non-personal) information you voluntarily provide to our company.

        p
          |<strong>Security</strong> – bathbuiltfurniture.com  utilizes appropriate security measures during data collection, storage, and application to provide protection against any unauthorized access to (or inappropriate use of) the information stored on our website. Your information will never be sold, traded, or otherwise utilized for any purpose outside our contractual agreement(s).

        p
          |<strong>Privacy Policy Changes</strong> – At our discretion, bathbuiltfurniture.com  reserves the right to update and revise the content within this website at any time, including this privacy policy.

        p
          |<strong>Acceptance of Use</strong> - By voluntarily accessing and using the bathbuiltfurniture.com website you are indicating your unequivocal acceptance to the terms and conditions of this website and the information contained within this Privacy Policy.

        h2.falseone.centered-text
          |Contact Us
        p
          |If you have any questions about our Privacy Policy, about our company Bath Built Furniture (or our website), or about any of our custom wood furniture designs, please <a href="/contact">contact us</a> online or send us an <a class='email-link' href="mailto:bathbuiltcustom@gmail.com?subject=Custom Built Solid Wood Furniture">email</a>.

    include footer.jade
block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
