extends stain-palette-layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .stain-content
      .ui.container
        h1.centered-text Wood Stains for Bath Built Custom Furniture

      .ui.vertical.showcase.segment.rooms
        .ui.container
          .ui.four.doubling.cards
            each stain in stains
              a.card.screv(href="/wood-stains/#{stain.slug}")
                .image.product(data-style=("background-image: url('" + stain.entry.fields.picture["en-US"].fields.file["en-US"].url + "?q=20');"))
                .content
                  .better.header.centered-text
                    |#{stain.entry.fields.name["en-US"]}


    .intro
      article
        h2.centered-text
          |Wood Stains to Match Your Home’s Décor
        p
          |You’ll love our wood stain colours! No matter what type of custom solid wood furniture you want built, our woodworking experts can help you find the perfect wood stain to match your home’s décor.

        p
          |<a href="/">Bath Built Custom Furniture</a> makes only handmade solid wood furniture, specifically designed and finished with the wood stain that best meets the needs of our customers.

        p
          |Whether you are looking for a dark walnut stained dresser, a mahogany stained bed frame, a classic grey stained desk, an ebony stained bookshelf, or natural stained dining table, we can custom design, build, and stain any piece of solid wood furniture you need.

        p
          |Visit our <a href="/testimonials">testimonials</a> page to read what many of our clients have said about our custom furniture designs including solid wood <a href="/rooms/dining-room">dining room furniture</a>, <a href="/rooms/bedroom">bedroom furniture</a>, <a href="/rooms/living-room">living room furniture</a>, and <a href="/rooms/storage-and-desks">storage and desks</a>.

        p
          |If you have any questions or would like more information about our solid wood furniture designs, or about any of our wood stain colours, please <a href="/contact">contact us</a> online or send us an <a class='email-link' href="mailto:sales@bathbuiltfurniture.com?subject=Wood Stain Colours">email</a>.

    include footer.jade
block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
