extends testimonials-layout

block content
  include sidebar.jade
  div.pusher
    include menu-alt.jade

    .testimonials
      .ui.text.container

        article

          h1.centered-text Bath Built Custom Furniture - Testimonials
          p
        |At <a href="https://bathbuilt.com/about" title="Bath Built  Custom Furniture">Bath Built  Custom Furniture</a>,  we take great pride not only in the quality of our solid wood furniture  products, but also in the how our clients respond to their new handmade wood  furniture pieces. Below are just a few of the many testimonials our clients  have been kind enough to share with us:

          each testimonial in testimonials
            blockquote
              |#{testimonial.entry.fields.testimonial['en-US']}
            h2.ui.header
              |- #{testimonial.entry.fields.customer['en-US']}

    include footer.jade
block scripts
  script(src="/javascripts/bathbuilt.js")
