<!-- Static Header Tags -->
<title> About Bath Built – Custom Wood Furniture Vancouver BC</title>
<meta name="description" content="About us page for Bath Built, makers of custom, handmade, solid wood furniture for bedrooms, living rooms and dining rooms; we are located near Vancouver BC."/>
<meta name="keywords" content="about Bath Built, Bath Built about us page, about us page, about, Bath Built solid wood furniture, solid wood furniture, custom furniture, handmade wood furniture, handmade furniture"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
</script>
