<!-- Static Header Tags -->
<title>Contact Bath Built Custom Wood Furniture Vancouver BC</title>
<meta name="description" content="Contact page for Bath Built custom wood furniture designs including desks and solid wood dining room, bedroom, and living room furniture."/>
<meta name="keywords" content="contact Bath Built, contact Chris Bath, Bath Built contact, Bath Built contact info, Bath Built address, Bath Built phone number, Bath Built phone, Bath Built contact"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
  gtag('config', 'AW-859151918');
</script>
