<!-- Static Header Tags -->
<meta name="description" content=" Bath Built Furniture is based near Vancouver, British Columbia and makes custom, handmade solid wood furniture for dining rooms, bedrooms, and living rooms."/>
<meta name="keywords" content="Bath Built, Bath Built Furniture, solid wood furniture, custom wood furniture, handmade wood furniture, custom handmade furniture, handmade wood furniture, wood bedroom furniture, wood living room furniture, wood dining room furniture, wood bedroom furniture Vancouver, wood living room furniture Vancouver, wood dining room furniture Vancouver, handmade furniture"/>

<!-- Google Site Verification Tag -->
<meta name="google-site-verification" content="QSKrYNP33epXIOlBVgmdHE88GKBmpAnES67tMOv40eY" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
</script>
