<!-- Static Header Tags -->
<title> Privacy Policy for Bath Built Wood Furniture Vancouver BC</title>
<meta name="description" content="This Bath Built privacy policy page includes details about security and website acceptance of use; Bath Built makes custom solid wood furniture near Vancouver BC."/>
<meta name="keywords" content="privacy policy Bath Built, privacy policy Bath Built furniture, privacy policy page, privacy page, privacy, Bath Built privacy policy"/>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
</script>
