<!-- Static Header Tags -->
<title>Bath Built Site Directory Page - Solid Wood Furniture Vancouver</title>
<meta name="description" content="Site directory page for Bath Built custom, solid wood furniture designs including handmade desks, dining room, bedroom, and living room furniture."/>
<meta name="keywords" content="Bath Built site directory, site directory Bath Built Furniture, site directory page, site directory, Bath Built Furniture, solid wood furniture, custom wood furniture, handmade wood furniture"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
  gtag('config', 'AW-859151918');
</script>
