<!-- Static Header Tags -->
<title>Solid Wood Stains by Bath Built Custom Wood Furniture</title>
<meta name="description" content="Special walnut, Kona, classic grey, and ebony are just a few of the solid wood furniture stains used by Bath Built Custom Furniture near Vancouver, BC."/>
<meta name="keywords" content="wood stains, wood stain colours, types of wood stains, natural wood stain, walnut wood stain, kona wood stain, red chestnut wood stain, dark walnut wood stain, red mahogany wood stain, antique wood stain, classic grey wood stain, ebony wood stain, carbon grey wood stain, American walnut wood stain, sun bleached wood stain, Bath Built Custom Furniture, solid wood furniture stains, wood furniture, wood stain for furniture, Bath Built"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93518760-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93518760-1');
</script>
